header, main, footer {
    background-color: rgba(52, 52, 52, 0.932);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.div1 {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.div1 h1 {
    grid-row: 1/2;
    padding: 25px;
}

.div1 nav {
    grid-row: 2/3;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.div1 a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.div2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
}

.div2 h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-items: start;
}

.content {
    grid-column: 1/2;
    background-color: rgb(196, 196, 196);
    width: 100%;
    padding-bottom: 200px;
    padding-left: 10px;
}

.div2 aside {
    background-color: white;
    grid-column: 2/2;
    width: 100%;
    padding-bottom: 200px;
    padding-left: 10px;
}

footer {
    padding-bottom: 100px;
    padding-top: 5px;
}

footer h2 {
    text-align: center;
    margin-top: 10px;
}